/* app/assets/stylesheets/application.css */
/* または適切なスタイルシートファイル */

body {
    background-color: #333; /* 背景色を暗くします */
    color: #fff; /* テキストカラーを白にします */
    font-family: Arial, sans-serif;
  }
  
  /* 全体のテーブルスタイル */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #fff; /* テキストカラーを白にします */
  }
  
  /* thとtdのスタイル */
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #555; /* ボーダーを暗めにします */
  }
  
  /* thのスタイル */
  th {
    background-color: #444; /* 色を暗くします */
  }
  
  /* テーブル行のホバースタイル */
  tr:hover {
    background-color: #555; /* ホバー時の色を暗めにします */
  }
  
  /* h1のスタイル */
  h1 {
    color: #fff; /* テキストカラーを白にします */
    font-size: 24px;
    border-bottom: 2px solid #555; /* タイトルの下線を暗めにします */
    padding-bottom: 10px;
  }
  
  /* エラー説明のスタイル */
  #error_explanation {
    color: #ffaaaa; /* エラーの色をやや明るめにします */
    padding: 15px;
    border: 2px solid #ffaaaa;
    border-radius: 7px;
    margin-bottom: 20px;
    background: #555; /* 背景色を暗くします */
  }
  
  /* エラーメッセージリストのスタイル */
  #error_explanation ul {
    list-style-type: square;
  }
  
  #error_explanation li {
    margin: 5px 0;
    color: #ffaaaa;
  }
  
  /* フォームフィールド全体のスタイル */
  .field {
    margin-bottom: 20px;
  }
  
  /* ラベルのスタイル */
  label {
    display: block;
    margin-bottom: .5em;
    color: #ccc; /* ラベルの色を薄いグレーにします */
  }
  
  /* テキストフィールドのスタイル */
  input[type="text"],
  textarea {
    width: 100%;
    padding: .5em;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #222; /* 背景色を暗くします */
    color: #ddd; /* テキストカラーを薄いグレーにします */
    box-sizing: border-box;
    margin-bottom: 1em;
  }
  
  /* テキストエリアのスタイル */
  textarea {
    height: 150px;
  }
  
  /* アクション（送信ボタン）のスタイル */
  .actions {
    margin-top: 20px;
  }
  
  input[type="submit"] {
    padding: 10px 15px;
    color: white;
    background-color: #666; /* ボタンの背景色を暗めにします */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* スムーズな背景色の変更のために */
  }

  .button-group {
    display: flex;
    justify-content: flex-start;
  }
  
  .button {
    padding: 10px 15px;
    color: white;
    background-color: #666;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  
  
  input[type="submit"]:hover {
    background-color: #777; /* ホバー時の色を変更します */
  }
  
  /* エラーがあるフィールドを強調表示するスタイル */
  .field_with_errors {
    display: block;
    margin-bottom: 15px;
  }
  
  .field_with_errors label {
    color: #cc0000;
  }
  
  .field_with_errors input[type="text"],
  .field_with_errors textarea {
    border-color: #cc0000;
  }
  
  /* リンクの基本スタイル */
a {
    color: #9cf; /* 明るい青色でリンクを表示 */
    text-decoration: none; /* 下線をなくす */
  }
  
  /* リンクにマウスがホバーした時のスタイル */
  a:hover {
    color: #cfc; /* ホバー時は明るい緑色に変更 */
    text-decoration: underline; /* 下線を表示する */
  }
  
  /* 訪問済みリンクのスタイル
  a:visited {
    color: #999;
  } 
  */
  